.view.cart {
}

.view.cart > .cart.main-part {
  @apply flex flex-col xl:mx-1
}

.cart.main-part > .main.head {
  @apply hidden xl:block mb-2.5 p-3 bg-custom-white font-semibold;

  border-radius: 8px;
}

.cart.main-part > .main-container {
  @apply p-1.5 xl:p-3 bg-custom-white;

  border-radius: 8px;
}